<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}Registrarse{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="login-container">
        <div class="login-form">
            <a href="{{ url_for('auth.login') }}" class="volver"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="{{ url_for('static', filename='img/Logo_GPS.png') }}" class="logo" alt="Logo">
            <h2>Registro de Profesionales</h2>
            <form method="post">
                <label for="Usuario">Usuario:</label>
                <input type="text" id="Usuario" name="Usuario" placeholder="Usuario" required>
                <label for="Nombre">Nombre:</label>
                <input id="Nombre" name="Nombre"  type="text" placeholder="Nombre">
                <label for="Rut">Telefono:</label>
                <input id="telefono" name="telefono"  type="text" placeholder="telefono">
                <label for="Correo">Correo:</label>
                <input id="Correo" name="Correo"  type="text" placeholder="Correo">
                <label for="Contraseña">Contraseña:</label>
                <input type="password" id="Contraseña" name="Contraseña" placeholder="*****" required>
                <label for="latitud">latitud:</label>
                <input type="text" name="latitud" id="Contraseña" placeholder="latitud" required>
                <label for="longitud">longitud:</label>
                <input type="text" name="longitud" id="longitud" placeholder="latitud" required>
                <label for="especializacion">especializacion:</label>
                <input type="text" name="especializacion" id="especializacion" placeholder="especializacion" required>
                <input class="btn" type="submit" value="Registrarse">
            </form>
        </div>
        <img class="login-image" src="{{ url_for('static', filename='img/Dibujo.png') }}" alt="Gráfico derecho">
    </div>
    {% endblock %}
</body>
</html>
