/* Estilos generales */
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f9; 
}

/* Estilo del mapa */
#map {
    height: calc(100vh - 80px); 
    width: 100%;
}


.header {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 30px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 100px;
    height: auto;
    object-fit: contain;
}


.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-right: 30px; 
}

.navbar a {
    color: #333;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;  
}

.navbar a:hover {
    color: #007bff; 
    border-bottom: 2px solid #007bff; 
}

/* Responsividad */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    #map {
        height: calc(100vh - 100px);
    }
}

.profile-icon {
    font-size: 24px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 60px;
    display: flex;
    justify-content: flex-start;
}


.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 160px;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


.show {
    display: block;
}
